@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, "sans-serif";
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.container {
  width: 50vw;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.question {
  color: #fff;
  background-color: tomato;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.question::before {
  content: "+";
  position: absolute;
  right: 30px;
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.content.active .question::before {
  content: "-";
}

.answer {
  max-height: 0;
  padding: 0 10px;
  overflow: hidden;
  transition: 0.5s ease;
}

.content.active .answer {
  max-height: 120px;
}

.content {
  margin-bottom: 10px;
}
